@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    float: left;
    padding: 10px;
    width: 200px;
    border: 2px solid #f1c40f;
    background-color: #c0392b;
    position: relative;
    display: block;
}
.active{
    background-color: #e74c3c;
}
.active:hover{
    background-color:  #eb6e60;
}
ul li:hover{
    background-color: #e74c3c;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.menu ul li ul{
    position: absolute;
    margin: 11px 0px 0px -12px;
    display: none;
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li ul li ul{
    display: none !important;
    margin: -31px 0px 0px 211px;
    position: absolute;
}
.menu ul li ul li:hover ul{
    display: block !important;
}
